.contacts{
font-family: Raleway;
}
.Address{
  text-align: left;
  h3{
    color:rgb(157, 113, 0);
  }
}
.Links{
  text-align: left;
  h3{
    color:rgb(157, 113, 0);
  }
}
.Phone{
  margin-left: 20px;
  text-align: left;
  a{
    color:inherit;
  }
}
.Contacts_link{
  color: inherit;
}
.card{
  height: 50vh;
  margin:10px;

}
