.footer{
  background-color: Black;
  height: auto;
  h4{
    text-align: right;
    font-size: 14px;
  }
}

.footer_text {
    text-align: center;
    font-family: Rubik;
    color: rgba(175, 175, 175, 0.8);
    p{
  text-decoration: none;
  font-size:24px;
  }
}
.SCSlink{
  color:inherit;
    font-size:18px;
    &:hover{
      color: inherit;
    }
}
.NISERlink{
  color:inherit;
    font-size:18px;
    &:hover{
      color: inherit;
}
}
.Web_creater{
  color: rgba(175, 175, 175, 0.8);
  text-align: center;
  margin-right: 10px;
}
