@import "../../node_modules/bootstrap/scss/bootstrap";
html, body {
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Raleway;
}

.GroupPic1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width :100%;
  height: 92.5vh;
  background-attachment: fixed;

}

.index {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Raleway;

   &-title {
       text-align: center;
   }
}
.Index_Title{
  text-align: center;
  color:rgb(157,113,0);
}

.News{
    max-height: 60vh;
  h3{
    color:rgb(157,113,0);
    font-weight: bold;
  }
  border: 2.5px solid #E7E6E6;
  padding:7.5px;
  margin:10px;
    p{
        color: Blue;
    }
}
.Index_headings{
  text-align:center;
  color:rgb(157,113,0);
}
.Index_headings_small{
  text-align:center;
  color: Grey;
}
